.btn {
    --button-text-color-h: var(--button-color-h, 0);
    --button-text-color-s: var(--button-color-s, 0%);
    --button-text-color-l: var(--button-color-l, 60%);
    --button-text-color-a: var(--button-color-a, 1);
    --button-text-color: hsla(var(--button-text-color-h) var(--button-text-color-s) var(--button-text-color-l) / var(--button-text-color-a));

    --c-bg-h: var(--button-color-h, 0);
    --c-bg-s: var(--button-color-s, 0%);
    --c-bg-l: var(--button-color-l, 68%);
    --c-bg-a: var(--button-color-a, 1);
    --c-bg: hsla(var(--c-bg-h) var(--c-bg-s) var(--c-bg-l) / var(--c-bg-a));

    --c-border-h: var(--button-color-h, 0);
    --c-border-s: var(--button-color-s, 0%);
    --c-border-l: var(--button-color-l, 68%);
    --c-border-a: var(--button-color-a, 1);
    --c-border: hsla(var(--c-border-h) var(--c-border-s) var(--c-border-l) / var(--c-border-a));

    --button-ripple-color-h: var(--button-color-h, 0);
    --button-ripple-color-s: var(--button-color-s, 0%);
    --button-ripple-color-l: var(--button-color-l, 68%);
    --button-ripple-color-a: var(--button-color-a, 1);
    --button-ripple-color: hsla(var(--button-ripple-color-h) var(--button-ripple-color-s) var(--button-ripple-color-l) / var(--button-ripple-color-a));

    --hover-bezier: 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);

    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .01rem;
    will-change: transform, opacity;
    transition: background-color var(--hover-bezier);
    color: var(--button-text-color);
    fill: var(--button-text-color);
    background: var(--c-bg);
    box-shadow: inset 0 0 0 .1rem var(--c-border, transparent);

    svg {
        display: block;
        vertical-align: top;
        width: var(--size-icon);
        height: var(--size-icon);
    }
}


