.btn--disabled,
.btn[disabled] {
    cursor: default;
    pointer-events: none;

    --c-bg-s: calc(var(--button-color-s, 0%) - 10%);
    --c-bg-l: calc(var(--button-color-l, 68%) + 14%);

    --button-text-color-s: calc(var(--button-color-s, 0%) - 10%);
    --button-text-color-l: calc(var(--button-color-l, 60%) + 14%);

    --c-border-s: calc(var(--button-color-s, 0%) - 10%);
    --c-border-l: calc(var(--button-color-l, 68%) + 14%);

    &.btn--contained {
        --button-text-color-l: 98%;
    }
}


