.btn--progress {
    color: transparent;
    fill: transparent;
    cursor: default;
    pointer-events: none;

    &:after {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        width: calc(var(--size-icon) - .8rem);
        height: calc(var(--size-icon) - .8rem);
        padding: calc(var(--size-base) / 12);
        -webkit-mask: linear-gradient(var(--c-text, white) 0 0) content-box, linear-gradient(var(--c-text, white) 0 0);
                mask: linear-gradient(var(--c-text, white) 0 0) content-box, linear-gradient(var(--c-text, white) 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        background-image: conic-gradient(from 45deg, transparent, var(--c-text, white));
        border-radius: 50%;
        animation: progress 750ms linear infinite;
    }
}

@keyframes progress {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
