.btn--ripple {
    --button-ripple-color-a: .22;

    &.btn--contained {
        --button-ripple-color-a: .28;
    }

    .ripple {
        position: absolute;
        border-radius: 50%;
        background-color: var(--button-ripple-color, transparent);
        transform: scale(0);
        animation: ripple .75s linear;
    }
}

@keyframes ripple {
    to {
        transform: scale(6);
        opacity: 0;
    }
}


