.btn--ripple {
    --c-ripple-a: .22;

    &.btn--contained {
        --c-ripple-a: .28;
    }

    .ripple {
        position: absolute;
        border-radius: 50%;
        background-color: var(--c-ripple, transparent);
        transform: scale(0);
        animation: ripple .75s linear;
    }
}

@keyframes ripple {
    to {
        transform: scale(6);
        opacity: 0;
    }
}
