.btn--shape-round {
    border-radius: 1000px;
    padding: 0 calc(var(--size-indents) / 4);

    //span.icon:not(:last-child) {
    //    margin: 0 -.6rem 0 calc(var(--size-indents) - .6rem);
    //}
    //
    //span.label {
    //    + span.icon {
    //        margin: 0 calc(var(--size-indents) - .6rem) 0 -.6rem;
    //    }
    //}
}

.btn--shape-rounded {
    border-radius: 4px;
}
