.btn {
    --size-base: calc(var(--size-step) * 12px);
    --size-indents: calc(var(--size-base) / 3);
    --size-icon: calc(var(--size-step) * 4px + 12px);

    height: var(--size-base);
    min-width: var(--size-base);
    font-size: calc(var(--size-step) * 2px + 8px);

    &--sm {
        --size-step: 3;
    }

    &--md {
        --size-step: 4;
    }

    &--lg {
        --size-step: 5;
    }
}
